:root {
    --white-colour: #FFFFFF;
    --black-colour: #000000;
    --grey-colour: #D9D9D9;
    --blue-colour: #5D63DE;
}

*,
*::after
*::before{
    box-sizing: border-box;
}

body {
    height: 800px;
    width: 300px;
    margin: 0;
    font-family: "Inter";
    background: var(--black-colour);
}

.wrapper {
    width: 360px;
    height: 800px;
    margin: 0 auto;
    background: url("Images/Town.png");
}

nav {
    height: auto;
    width: 100%;
}

nav .title {
    position: relative;
    left: 60px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}

.content img {
    position: relative;
    left: 20%;
    top: 50px;

}

.content p {
    position: relative;
    left: 10%;
    top: 150px;
    font-size: 35px;
    color: var(--white-colour);
}

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: var(--black-colour);
    display: inline-block;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    text-decoration: none;
    position: relative;
}

.btn.light {
    background: var(--grey-colour);
    position: relative;
    width: 225px;
    height: 80px;
    left: 10%;
    top: 175px;
    margin-bottom: 20px;
}

.btn.dark {
    position: relative;
    width: 225px;
    height: 80px;
    left: 75%;
}

.heatBack {
    padding: 16px 32px;
    border-radius: 24px;
    color: var(--black-colour);
    display: inline-block;

    vertical-align: 100px;
    text-decoration: none;
    position: relative;
    
    background: var(--grey-colour);
    width: 225px;
    height: 580px;
    left: 10%;
    top: 50px;
}

.num {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    position: relative;
    text-align: center;
    left: 37.5%;
    top: -425px;
}

.plus {
    position: relative;
    width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid var(--blue-colour);
    left: -29%;
    top: -300px;
}

/*i only realised the power of <br> here and had set everything else up to work without*/
.min {
    position: relative;
    width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 100px solid var(--blue-colour);
    left: 22.5%;
    top: -225px;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
}

.button{
    background-color: var(--grey-colour);
    width: 200px;
    height: 100px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.button::before{
    position: absolute;
    content: '';
    background-color: var(--white-colour);
    width: 90px;
    height: 90px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.2s;
}

input:checked + .button{
    background-color: var(--blue-colour);
}

input:checked + .button::before{
    transform: translateX(100px);
}

input{
    display: none;
}

/*i got the slider code online, here is the link*/
/*https://blog.hubspot.com/website/html-slider#:~:text=Finally%2C%20if%20we%20want%20to,the%20slider%20by%20270%20degrees.*/
.slider {
    display: flex;
    appearance: none; 
    width: 500px; 
    height: 75px;
    background: var(--grey-colour) ;
    outline: none; 
    border-radius: 50px; 
    margin-top: 80%;
    margin-left: -17.7%;
    transform: rotate(270deg); 
}

.slider::-webkit-slider-thumb {
  appearance: none; 
  width: 70px; 
  height: 70px; 
  border-radius: 50%; 
  background: var(--blue-colour); 
  cursor: pointer; 
}

.footage {
    position: relative;
    left: 5%;
    top: 20%;
}